{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>VJC BOT</title>
    <link rel="stylesheet" href={% static 'css/styles.css' %}>
</head>
<body>
    <div id="main-container">
        <!-- Sidebar -->
        <div id="sidebar">
            <img src="{% static 'images/vjcetlogo.png' %}" alt="Logo" id="header-logo">
            <div id="header-title">VJC-BOT</div>
            <div id="sidebar-buttons">
                <button class="sidebar-btn" id="chatbot-btn">ChatBot</button>
                <button class="sidebar-btn" id="notice-board-btn">Notice Board</button>
                <button class="sidebar-btn" id="academic-calendar-btn">Academic Calendar</button>
                <button class="sidebar-btn" id="change-password-btn">Change Password</button>
                <button class="sidebar-btn" id="logout-btn">Logout</button>
            </div>

    
        </div>
       
    
        <!-- Chat Container -->
        <div id="chat-container">

            <!-- Chat Box -->
            <div id="chat-box"></div>
            <!-- Response container -->
            <div id="response"></div> 
            <!-- Chat Input -->
            <div id="chat-input">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button" >Send</button>
            </div>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
    </form>
    
    <script src="{% static "js/chat_window.js" %}">
       
    </script>

        <!-- CSRF Token -->
        <script type="text/javascript">
            var csrf_token = '{{ csrf_token }}';  // Embed CSRF token in the template
        </script>
    
</body>
</html>
